<h2>Posts:</h2>
<ul>
  <% @user.posts.each do |post| %>
      <b>Title:</b><li><%= post.title %></li>
      <b>Body:</b><li><%= post.body %></li>
      <% post.comments.each do |comment| %>
          <b>Comment:</b><li><%= comment.body %></li>
        <% end %>
  <% end %>
</ul>
