<h2>About me:</h2>
<ul>
  <li>User Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
</ul>

<h2>Posts:</h2>
<ul>
  <% @user.posts.each do |post| %>
      <li><%= post.title %></li>
      <li><%= post.body %></li>
  <% end %>
</ul>