<table>
  <h2>News feed:</h2>
  <% @following.each do |user| %>
      <% user.posts.each do |post| %>
          <b>
            Author: <%= link_to user.name, user_path(user) %><br>
            Titile:<%= post.title %><br>
          </b>
          Body: <%= post.body %><br>
          <% post.comments.each do |comment| %>
            <%= comment.body %>
          <% end %>
      <% end %>
  <% end %>
</table>