/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//#banner {
//  background: #a8cca8;
//  padding: 10px;
//  border-bottom: 2px solid;
//  font: small-caps 40px/40px "Times New Roman", serif;
//  color: #f8f7ff;
//  text-align: match-parent;
//}
//
//#main {
//  padding: 1em;
//  background: white;
//
//  .container {
//
//  }
//
//  div {
//    display: block;
//  }
//}
//
//#about_me {
//  border: ridge;
//  width: 200px;
//  height: 275px;
//  /* margin-left: auto; */
//  padding: 20px;
//  /* position: relative; */
//  text-align: inherit;
//
//  #avatar {
//    margin: auto;
//  }
//}
body {
  //background-image: url("nice_background_blog-2.jpg");
  //background-repeat: no-repeat;
  //background-attachment: fixed;
}

#container {
  width:1100px;
  margin:0 auto;
  overflow:auto;
  //background-image: url("nice_background_blog-2.jpg")
}

#flash_succes {
  text-align: center;
  border: ridge;
  background-color: chartreuse;
}

#header {
  background-image: url("nice_background_blog-2.jpg");
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #f8f7ff;
  text-align: -webkit-center;
}

//#nav {
//  overflow:auto;
//  background: #a8cca8;
//  text-align: center;
//  font-size: medium;
//  margin: 0px;
//  padding-left: 450px;
//  padding-right: 450px;
//}
//
//#nav table {
//  list-style:none;
//  height:30px;
//  padding:0px;
//  margin:0px;
//}
//#nav table tr {
//  float:left;
//  margin:10px;
//}

#nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a8cca8;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 21px;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #1d7f1d;
  }
}

#main {
  overflow:auto;
  margin-top:3px;
  width: 100%;
}

#main_left {
  float:left;
  width:350px;
  min-height:400px;
  padding-right: 20px;

  #about_me {
    background-color: #ffc8a7;
    border-radius: 10px;
    padding-left: 10px;

    #namemail_right {
      float: right;
      display: block;
      background-color: #ffc8a7;
      border-radius: 10px;
      padding-right: 17px;

      #bupdate {
        margin-top: 10px;
        margin-left: -16px;
      }
    }

    #avatar {
      float:left;
    }
  }
}
#main_right {
  float:left;
  width: auto;
  min-height:30px;
}
#footer {
  height:18px;
  text-align: -webkit-center;
  background: #a8cca8;
  width:1100px;
  margin:0 auto;
  overflow:auto;
  margin-top: 10px;
}
