/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#banner {
   background: #a8cca8;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #f8f7ff;
  text-align: match-parent;
}

#main {
  margin-right: auto;
  padding: 1em;
  background: white;
  display: flex;
  float: left;
  width: 100%;

  .container {
    border: ridge;
    /* float: left; */
    width: 50%;
    margin-left: 1%;
  }
}

//#about_me {
//  margin-right: 17em;
//  padding: 1em;
//  background: white;
//}
#about_me {
  border: ridge;
  width: 200px;
  height: 275px;
  /* margin-left: auto; */
  padding: 20px;
  /* position: relative; */
  text-align: inherit;

  #avatar {
    margin: auto;
  }
}
