// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#log_in {
  background: #a8cca8;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #f8f7ff;
  text-align: center;
  margin-top: auto;
  //margin-left: 50%;
  //margin-right: 50%;
  border: ridge;
  font-size: 23px;
  width: 270px;
}

div {
  display: block;
}
