// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  //padding: 10px;
  border-radius: 10px;
  .button {
    margin-bottom: 10px;
    .button_to {
      input {
        padding: 11px;
        color: green;
      }
    }
  }

  .post_body {
    width: 704px;
    background-color: #a8cca8;
    padding: 10px;
    border-radius: 10px;
    border-color: #F0F8FF;
    border-style: groove;
  }

  .more-info-button {
    display: inline-flex;
  }

  .comment {

    .comment_body {
      display: table;
      background-color: #fff29f;
      padding: 10px;
      border-radius: 10px;
      border-color: #F0F8FF;
      border-style: groove;
      text-align: right;
      max-width: 500px;
    }
  }


}
